<div class="container-fluid">
    <app-info-vista
      [info]="'En esta sección se realiza la identificación del riesgo, a partir de las causas que contribuyen a su origen.Los tipos de riesgos que se manejarán serán los establecidos en la siguiente figura.'">
    </app-info-vista>
    <div class="row justify-content-end">
      <app-button-example 
        tooltip="Ver ejemplo de tipos de riesgos" 
        src="../../../../../assets/img/guia_identificacion_riesgo.png"
        label="Tipos de riesgos">
      </app-button-example>
    </div>

</div>
