<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-11">
      <app-card-title title="IDENTIFICACIÓN DEL RIESGO"
        info="En esta sección se realiza la identificación del riesgo, a partir de las causas que contribuyen a su origen.Los tipos de riesgos que se manejarán serán los establecidos en la siguiente figura.">
      </app-card-title>
    </div>
    <div class="col-1">
      <app-button-example tooltip="Ver ejemplo de tipos de riesgos" src="assets/img/guia_identificacion_riesgo.png"
        label="Tipos de riesgos">
      </app-button-example>
    </div>
  </div>
  <form [formGroup]="formParcialIdentificacionRiesgo" autocomplete="off">
    <div class="row justify-content-center">
      <div class="col-12">
        <mat-card class=" h-100">
          <mat-card-header>
            <mat-card-title>Descripción general</mat-card-title>
          </mat-card-header>
          <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
              <div class="col-md-6">
                <div class="row justify-content-around">
                  <div class="col-md-7">
                    <mat-form-field class="w-100">
                      <mat-label>Nombre del proceso</mat-label>
                      <mat-select formControlName="proceso">
                        <mat-option *ngFor="let proceso of listaProcesos" value="{{proceso}}">{{proceso}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <mat-form-field class="w-100">
                      <mat-label>Nombre del riesgo</mat-label>
                      <input formControlName="riesgo" matInput placeholder="Escriba el nombre del riesgo">
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <textarea formControlName="descripcion" matInput placeholder="Descripción"
                        style="height: 49px;"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <h6 class="font-weight-bold font-italic">¿Con la materialización del riesgo se verían reflejadas las
                  siguientes acciones?</h6>
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Acción u omisión</mat-label>
                      <mat-select (selectionChange)="establecerTiposRiesgos()" formControlName="accionOmicion">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Uso del poder</mat-label>
                      <mat-select (selectionChange)="establecerTiposRiesgos()" formControlName="usoPoder">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Desviar la gestión de lo publico</mat-label>
                      <mat-select (selectionChange)="establecerTiposRiesgos()" formControlName="desviarGestionPublico">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Beneficio privado</mat-label>
                      <mat-select (selectionChange)="establecerTiposRiesgos()" formControlName="beneficioPrivado">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-12">
        <mat-card class="h-100">
          <mat-card-header>
            <mat-card-title>Descripción detallada</mat-card-title>
          </mat-card-header>
          <div class="container-fluid">
            <div class="row justify-content-around">
              <div class="col-12">
                <div class="row justify-content-around">
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <mat-form-field class="w-100">
                      <mat-label>Tipo de riesgo</mat-label>
                      <mat-select formControlName="tipo"
                        (selectionChange)="cambiarParametrosCausaConsecuencia($event.value)">
                        <mat-option *ngFor="let tipo of listaTiposRiesgos" value="{{tipo}}">{{tipo}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6" *ngIf="tipoRiesgoActivate.Fisico">
                    <mat-form-field class="w-100">
                      <ngx-mat-file-input formControlName="escenarioRiesgo"
                        placeholder="Escenario del riesgo (Solo PDF)" [accept]="'.pdf'"></ngx-mat-file-input>
                      <mat-icon matSuffix>folder</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-4" *ngIf="tipoRiesgoActivate.Seguridaddigital">
                <mat-form-field class="w-100 ">
                  <mat-label>Amenaza</mat-label>
                  <mat-select formControlName="amenaza">
                    <mat-option *ngFor="let amenaza of listaAmenazas" value="{{amenaza}}">{{amenaza}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="tipoRiesgoActivate.Seguridaddigital">
                <mat-form-field class="w-100 ">
                  <mat-label>Tipo de activo</mat-label>
                  <mat-select formControlName="tipoActivo"
                    (selectionChange)="cargarCausasRiesgoSeguridadDigital($event.value)">
                    <mat-option *ngFor="let activo of listaTipoActivos" value="{{activo}}">{{activo}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="tipoRiesgoActivate.Seguridaddigital">
                <mat-form-field class="w-100 ">
                  <mat-label>Activo</mat-label>
                  <mat-select formControlName="activo">
                    <mat-option *ngFor="let activo of activosSelect" value="{{activo.activo}}">{{activo.activo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
            <div class="row justify-content-around h-100">

              <div class="col-md-6 mat-elevation-z1 div-list pt-3 h-100">
                <div class="label-title-div">Causas</div>
                <div class="container">
                  <form [formGroup]="formCausa" autocomplete="off">
                    <div class="row justify-content-around">
                      <div class="col-8">
                        <mat-form-field class="w-100"
                          *ngIf="tipoRiesgoActivate.Corrupcion || tipoRiesgoActivate.Gestion || tipoRiesgoActivate.Fisico">
                          <mat-label>Causa</mat-label>
                          <input formControlName="causa" matInput placeholder="Escriba una causa del riesgo">
                        </mat-form-field>
                        <mat-form-field class="w-100 " *ngIf="tipoRiesgoActivate.Seguridaddigital">
                          <mat-label>Causa</mat-label>
                          <mat-select formControlName="causa" multiple>
                            <mat-option *ngFor="let causa of listaCausasSeguridadDigital" value="{{causa.nombre}}">
                              {{causa.nombre}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="row justify-content-center mt-2"
                          *ngIf="tipoRiesgoActivate.Corrupcion || tipoRiesgoActivate.Gestion || tipoRiesgoActivate.Fisico || tipoRiesgoActivate.Seguridaddigital">
                          <button type="button" color="accent" mat-stroked-button (click)="agregarCausa()"
                            [disabled]="formCausa.invalid">Agregar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row justify-content-center container-chips">
                    <mat-chip-list>
                      <mat-chip color="primary" *ngFor="let causa of listaCausas" selected>
                        {{causa.nombre}}
                        <button type="button" mat-icon-button (click)="eliminarCausa(causa)">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mat-elevation-z1 div-list pt-3 h-100">
                <div class="label-title-div">Consecuencias</div>
                <div class="container">
                  <form [formGroup]="formConsecuencia" autocomplete="off">
                    <div class="row justify-content-around"
                      *ngIf="tipoRiesgoActivate.Corrupcion || tipoRiesgoActivate.Gestion || tipoRiesgoActivate.Fisico || tipoRiesgoActivate.Seguridaddigital">
                      <div class="col-8">
                        <mat-form-field class="w-100">
                          <mat-label>Consecuencia</mat-label>
                          <input formControlName="consecuencia" matInput
                            placeholder="Escriba una consecuencia del riesgo">
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="row justify-content-center mt-2">
                          <button type="button" color="accent" mat-stroked-button (click)="agregarConsecuencia()"
                            [disabled]="formConsecuencia.invalid">Agregar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row justify-content-center container-chips">
                    <mat-chip-list>
                      <mat-chip color="primary" *ngFor="let chip of listaConsecuencias" selected>
                        {{chip}}
                        <button type="button" mat-icon-button (click)="eliminarConsecuencia(chip)">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </mat-card>
      </div>
      <div class="row justify-content-center mt-3 mb-3" *ngIf="tipoRiesgoActivate.Corrupcion">
        <form [formGroup]="formularioNivelesCalificarImpactoCorrupcion">
          <div class="col-md-11 col-lg-9 col-xl-8 mat-elevation-z4" id="tableCorrupcion">
            <table mat-table [dataSource]="riesgosCorrupcion">

              <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> N° </th>
                <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.numero}} </td>
              </ng-container>

              <ng-container matColumnDef="pregunta">
                <th class="text-center" mat-header-cell *matHeaderCellDef> Pregunta: Si el riesgo de corrupción se
                  materializa podría… </th>
                <td mat-cell *matCellDef="let element"> {{element.pregunta}} </td>
              </ng-container>

              <ng-container matColumnDef="respuesta" class="w-25">
                <th mat-header-cell *matHeaderCellDef> Respuesta </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
                  <mat-form-field>
                    <mat-select formControlName="respuesta" (selectionChange)="calcularImpactoCorrupcion()">
                      <mat-option value="si">
                        Si
                      </mat-option>
                      <mat-option value="no">
                        No
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsCorrupcion; sticky: true "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCorrupcion;"></tr>
            </table>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 align-self-center">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Nivel de impacto</mat-card-title>
                <mat-card-subtitle>
                  <small>
                    Responder afirmativamente de UNA a CINCO preguntas genera un impacto moderado.
                    Responder afirmativamente de SEIS a ONCE preguntas genera un impacto mayor.
                    Responder afirmativamente de DOCE a DIECINUEVE preguntas genera un impacto catastrófico.
                  </small>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="text-center">
                <h3 class="font-weight-bold" *ngIf="preguntasTerminadasCorrupccion">{{nivelImpactoCorrupcion}}</h3>
                <small *ngIf="!preguntasTerminadasCorrupccion">Esperando que todas las preguntas sean
                  contestadas...</small>
              </mat-card-content>
            </mat-card>
          </div>
        </form>
      </div>
    </div>
  </form>
  <div class="row justify-content-center mt-2">
    <button type="button" color="accent" mat-stroked-button (click)="guardarRiesgo()"
      [disabled]="formParcialIdentificacionRiesgo.invalid">Agregar</button>
  </div>
  <div class="row justify-content-center mr-0 ml-0 mt-3 mb-3">
    <div class="col-12 mat-elevation-z2 p-0" style="max-height: 65vh ; overflow: auto;">
      <table mat-table [dataSource]="dataSourceRiesgos">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="riesgo" sticky>
          <th mat-header-cell *matHeaderCellDef> Riesgo </th>
          <td mat-cell *matCellDef="let element"> {{element.riesgo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo de riesgo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="causas">
          <th mat-header-cell *matHeaderCellDef> Causas </th>
          <td mat-cell *matCellDef="let element">
            <div class="row justify-content-start mr-0 ml-0">
              <nz-tag class="m-1" [nzColor]="'#ff5252'" *ngFor="let causa of element.causas">
                {{causa.nombre}}
              </nz-tag>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="consecuencias">
          <th mat-header-cell *matHeaderCellDef> Consecuencias </th>
          <td mat-cell *matCellDef="let element">
            <div class="row justify-content-start mr-0 ml-0">
              <nz-tag class="m-1" [nzColor]="'#ff5252'" *ngFor="let concecuencia of element.consecuencias">
                {{concecuencia}}
              </nz-tag>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="escenarioRiesgo">
          <th mat-header-cell *matHeaderCellDef> Escenario del riesgo </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon></mat-icon>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="accion" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="Eliminar Riesgo" nz-popconfirm
              nzPopconfirmTitle="Estas seguro de eliminar el riesgo?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="eliminarRiesgo(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRiesgos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRiesgos;"></tr>
      </table>
    </div>
  </div>
</div>
