<div class="container-fluid h-100" >
  <app-card-title title="PREPARACIÓN PARA LA RECUPERACIÓN" 
  info="Esta línea de acción permite que las I.E, se preparen para la recuperación después de un evento de gran magnitud, de tal forma que se permita garantizar la recuperación del acceso y permanencia a los servicios educativos">
  </app-card-title>
    <div class="row justify-content-center mb-1" style="height: 99%;">
      <div class="col-11 mat-elevation-z4 p-0 h-100">
        <mat-tab-group mat-align-tabs="center"  class="h-100"> 
          <mat-tab label="Valoracion de la situación"  class="h-100">
            <ng-template matTabContent>
              <app-valoracion-situacion></app-valoracion-situacion>
            </ng-template>
          </mat-tab>
          <mat-tab label="Ejecución de la recuperación" class="h-100">
            <ng-template matTabContent>
              <app-ejecucion-recuperacion></app-ejecucion-recuperacion>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- <div class="col-lg-1">
        <div class="row justify-content-center mt-2 mb-3">
          <button color="accent" mat-raised-button (click)="guardarCaracterizacionContexto()">Guardar</button>
        </div>
      </div> -->
    </div>
</div>