<div class="container-fluid" style="height: 71vh;">
  <app-card-title title="REPORTES DEL PLAN DE TRATAMIENTO DEL RIESGO"></app-card-title>
  <div class="row justify-content-around m-2 h-100">
    <div class="col-12 p-0 mat-elevation-z2 h-100" style="border-radius: 5px; overflow-y: auto;">
      <table mat-table [dataSource]="dataSourceRiesgos" class="mat-elevation-z4 w-100">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="riesgo">
          <th mat-header-cell *matHeaderCellDef> Riesgo </th>
          <td mat-cell *matCellDef="let element"> {{element.riesgo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="proceso">
          <th mat-header-cell *matHeaderCellDef> Proceso </th>
          <td mat-cell *matCellDef="let element">
            {{element.proceso}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo de riesgo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>


        <ng-container matColumnDef="solidez">
          <th mat-header-cell *matHeaderCellDef> Solidez de controles </th>
          <td mat-cell *matCellDef="let element">
            {{element.solidez ? element.solidez : "No se ha hecho control alguno"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> Ver reporte </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" matTooltip="Ver reporte completo" mat-icon-button aria-label="Ver reporte"
              color="warn" (click)="open(element)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRiesgos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRiesgos;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[7, 14,21]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'hidden','padding' : '10px', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" nzWidth="100%" [nzVisible]="visible" [nzTitle]="titleVerRiesgo" (nzOnClose)="close()">
  <div class="container-fluid h-100">
    <div class="row h-100 p-3">
      <div class="col-2 h-100">
        <div class="row justify-content-center " *ngFor="let row of dataReport">
          <div class="col-12 text-left font-weight-bold pt-2 pb-2" [ngStyle]="{
                    'border-top': dataReport.indexOf(row) == 0 ? '1px solid' : ''
                  }"
            style="border-bottom: 1px solid; border-right: 1px solid; border-left: 1px solid; background: whitesmoke;">
            {{ row.name }}
          </div>
        </div>
      </div>
      <div class="col-10 h-100">
        <div class="row justify-content-around " *ngFor="let row of dataReport">
          <div class="col-{{ 12 / row.content.length }} text-center" *ngFor="let column of row.content">
            <div class="row justify-content-center">
              <div class="col-12 pt-2 pb-2" [ngStyle]="{
                        'border-top': dataReport.indexOf(row) == 0 ? '1px solid' : ''
                      }" style="border-bottom: 1px solid; border-right: 1px solid;">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    {{ column }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>Imprimir</span></button>
  </div>
</nz-drawer>
