<form [formGroup]="formularioDeterminarProbabilidad">
  <div class="container-fluid">
    <app-card-title info="Se determina la probabilidad de ocurrencia del riesgo bajo los criterios de frecuencia o factibilidad, mostrados en la siguiente tabla. El riesgo se puede calificar según su nivel de impacto, clasificándose en alguno de los siguientes: insignificante, menor, moderado, mayor y catastrófico."></app-card-title>
    <div class="row justify-content-around mt-2">

    </div>

  </div>
</form>
