<form [formGroup]="formularioDeterminarProbabilidad">
  <div class="container-fluid">
    <app-card-title info="Se determina la probabilidad de ocurrencia del riesgo bajo los criterios de frecuencia o factibilidad, mostrados en la siguiente tabla. El riesgo se puede calificar según su nivel de impacto, clasificándose en alguno de los siguientes: insignificante, menor, moderado, mayor y catastrófico."></app-card-title>
    <form [formGroup]="formParcialDeterminarProbabilidad" autocomplete="off">
      <div class="row justify-content-around mt-2">
        <div class="col-md-10 col-lg-8">
            <table  mat-table [dataSource]="listaRiesgos" class="w-100 mat-elevation-z5">
          
              <!-- Position Column -->
              <ng-container matColumnDef="riesgo">
                <th mat-header-cell *matHeaderCellDef>Riesgo</th>
                <td mat-cell *matCellDef="let element"> {{element.riesgo}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="probabilidad">
                <th mat-header-cell *matHeaderCellDef>Probabilidad</th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name"> 
                  <mat-form-field>
                    <mat-label>Probabilidad</mat-label>
                    <mat-select formControlName="probabilidad" >
                      <mat-option *ngFor="let frecuencia of listaFrecuencia" value="{{frecuencia}}" (click)="guardarProbabilidad()">
                        {{frecuencia}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="impacto">
                <th mat-header-cell *matHeaderCellDef>Impacto</th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
                  <mat-form-field>
                    <mat-label>Impacto</mat-label>
                    <mat-select formControlName="impacto" >
                      <mat-option *ngFor="let impacto of listaImpacto" value="{{impacto}}" (click)="guardarProbabilidad()">
                        {{impacto}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
          
              
              <tr mat-header-row *matHeaderRowDef="displayedColumnsRiesgos; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRiesgos;"></tr>
            </table>
        </div>
      </div>
    </form>
  </div>
</form>
