html{
    height: 100%;
}

.disabled-element{
    display: none !important;
    transition: 0.3s  ease all;
}

.margin-primary{
    border: 2px solid  rgb(255, 70, 70);
    border-radius: 4px;
}

.label-title-div {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: -13px;
    color: rgb(78, 78, 78);
    padding-right: 3px;
    padding-left: 3px;
    width: auto;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    font-size: bold;
   
}

.card{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
}

#cardTemplate,
#rowTemplate,
#comunidadTemplate,
#procesoTemplate,
#miniCardTemplate{
    display: none;
} 

.div-list {
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    border-color: rgb(78, 78, 78);
    transition: 0.5s  ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s  ease all;
}

.div-list-salon {
    border: 1px solid rgb(78,78,78);
    border-radius: 5px;
    height: 240px;
}

.container-rows{
    overflow-y: auto;
    height: 190px;
}

.row-salon{
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.row-salon .btn-delete-row{
    margin-left: -10px;
    margin-top: 4px;
}

/*MENU SUPERIOR*/
.menu-nivel1{
    background:-webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255));
    border-radius: 4px;
    border-bottom: 2px solid rgb(255, 71, 71);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.2);
}

/*MENU INTERMEDIO*/
.menu-nivel2{
    background: -webkit-linear-gradient(rgb(255, 71, 71),rgb(255, 70, 70),rgb(255, 71, 71));
    margin-top: -2px;
    border-radius: 4px;
    width: 100%;
    margin-bottom:-9px;
}

.menu-nivel2 ul li a{
    border: 0.5px solid white;
    color: white !important;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
    margin: 0px 2px 0px 2px;
    font-size: 110%;
}

.menu-nivel2 ul li a:hover
{
    background-color: white;
    transition: 0.3s  ease all;
    color: rgb(255, 70, 70) !important;
}

.menu-nivel2 ul li .active{
    background-color: white;
    transition: 0.3s  ease all;
    color: rgb(255, 70, 70) !important;
    border: 2px solid white;
    padding: 3px 3px 3px 3px;
}

/*MENU INFERIOR*/
.menu-nivel3 {
    background-color: white;          
    border-right: 2px solid rgb(255, 71, 71);
    border-left: 2px solid rgb(255, 71, 71);
    width: 100%;
    transition: 0.5s  ease all;
    border-radius: 6px;
}

.menu-nivel3 ul li a{
    border: 0.5px solid  rgb(255, 70, 70);
    color:  rgb(255, 70, 70) !important;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
    margin: 0px 2px 0px 2px;
    font-size: 110%; 
}

.menu-nivel3 ul li a:hover{
    background-color: rgb(255, 70, 70);
    transition: 0.3s  ease all;
    color: white!important;
    border: 2px solid  rgb(255, 70, 70);
    font-size: 120%;
}

/*MENU DENTRO DEL MAIN*/

.menu-nivel4 {
    background-color: white;          
    width: 100%;
    border-radius: 6px;
}

.menu-nivel4 ul li a{
    border: 0.5px solid  rgb(255, 70, 70);
    color:  rgb(255, 70, 70) !important;
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
    margin: 0px 5px 0px 5px;
    font-size: 110%;
    cursor: pointer; 
}

.menu-nivel4 ul li a:hover:not(.active){
    background-color: rgb(255, 70, 70);
    color: white!important;
    border: 2px solid  rgb(255, 70, 70);
    margin-bottom: -9px;
    font-size: 135%;
    transition: 0.3s  ease all;
}

.menu-nivel4 ul li .active{
    background-color: white;
    color: rgb(255, 70, 70) !important;
    font-weight: 600;
    border: 2px solid  rgb(255, 70, 70);
    margin-bottom: -10px;
    font-size: 150%;
    cursor: default;
    border-bottom: none;

}

/*MAIN*/
.main{
    background-color: white;
    margin-top: -2px;
    border: 2px solid rgb(255, 71, 71);
    border-radius: 3px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

.main .title-main{
    background-color: rgb(255, 70, 70);
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 200%;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.2);
}

.main .about-main{
    background-color: white(255, 70, 70);
    padding: 5px 10px 5px 15px;
    border: 2px solid rgb(255, 70, 70);
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: default;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.2);
    margin-left: -2px;
}

/*.container-main{
    height: 100%;
    max-height: 405px;
    overflow: auto;
    margin-bottom: 15px;
}*/

/* INPUT ESTILO GOOGLE */

.group-file .label-file-lg {
    color: #999;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 13px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    padding-right: 3px;
    width: auto;
    top: -10px;
    font-size: 15px;
    color: rgb(126, 126, 126);
}

.label-xl {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    background-color: white;
    width: 440px;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.label-lg {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    background-color: white;
    width: 340px;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.label-md {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    width: 240px;
}

.label-sm {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    width: 140px;
}

.label-xs {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    width: 70px;
}

.group {
    position: relative;
}

.group-file {
    position: relative;
    margin-top: 10px;
    width: 350px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.group-file .btn-input-file{
    position: relative;
    margin-top:15px;
    margin-bottom:10px;
    width: 150px;
    height: 25px;
    background-color: #2499e3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.group-file .btn-input-file:hover{
    background-color: #1f82c0;
}

.group-file .properties-file{
    position: relative;
    margin-top: 15px;
    margin-bottom:10px;
}

.group-file .textField-file-lg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.textField-xl {
    font-size: 18px;
    padding-top:6px;
    padding-bottom: 2px;
    display: block;
    width: 450px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.textField-lg {
    font-size: 18px;
    padding-top:6px;
    padding-bottom: 2px;
    display: block;
    width: 350px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.textField-md {
    font-size: 18px;
    padding-top:6px;
    padding-bottom: 2px;
    display: block;
    width: 250px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.textField-sm {
    font-size: 18px;
    padding-top:6px;
    padding-bottom: 2px;
    display: block;
    width: 150px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.textField-xs {
    font-size: 16px;
    padding-top:7px;
    padding-bottom: 2px;
    display: block;
    width: 80px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.date{
    padding-right: 60px; 
}

.textField-xl:focus~.label-xl,
.textField-xl:valid~.label-xl,
.textField-xl:hover~.label-xl,
.textField-lg:focus~.label-lg,
.textField-lg:valid~.label-lg,
.textField-lg:hover~.label-lg,
.textField-md:focus~.label-md,
.textField-md:valid~.label-md,
.textField-md:hover~.label-md,
.textField-sm:focus~.label-sm,
.textField-sm:hover~.label-sm,
.textField-sm:valid~.label-sm,
.textField-xs:focus~.label-xs,
.textField-xs:hover~.label-xs,
.textField-xs:valid~.label-xs  {
    padding-right: 3px;
    width: auto;
    top: -9px;
    font-size: 11px;
    color: rgb(126, 126, 126);
}

/* active state */
.textField-xl:focus,
.textField-xl:valid,
.textField-lg:focus,
.textField-lg:valid,
.textField-md:focus,
.textField-md:valid,
.textField-sm:focus,
.textField-sm:valid,
.textField-xs:focus,
.textField-xs:valid{
  outline: none;
    border-color: rgb(126, 126, 126);
    transition: 0.5s  ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s  ease all;
    
}

textarea{
    font-size: 15px !important;
    outline: none;
}

.img-main{
    width: 100%;
    height: 100%;
}