<header >
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-md menu-nivel2">

            <p-megaMenu [model]="items">
                <button pButton label="Logout" icon="fa fa-sign-out"></button>
            </p-megaMenu>

            

            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSecondSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="...">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="row justify-content-center collapse navbar-collapse" id="navbarSecondSupportedContent">
                <ul class="navbar-nav text-center justify-content-around">
                    <li class="nav-item ">
                        <a class="nav-link link-menu-nivel2 pb-2 pt-2" id="opcion1" href="#">Presentación institucional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion2" href="#">Politica de administración del riesgo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion3" href="#">Identificación del riesgo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion4" href="#"  title="En este paso de la metodología se realiza el análisis de los riesgos y su evaluación, de tal forma que se determine la probabilidad de ocurrencia de riesgo y su nivel de consecuencia o impacto, con el fin de determinar el riesgo inherente (zona de riesgo inicial), para luego confrontar los resultados de dicho análisis frente a los controles establecidos por la Institución, con el fin de determinar el riesgo residual (zona de riesgo final).">Valoración de riesgos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion5" href="#">Preparación para la respuesta a
                            emergencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion6" href="#">Ejecución de la respuesta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-menu-nivel2" id="opcion7" href="#">Preparación para la recuperación</a>
                    </li>
                </ul>
            </div> -->
    </nav>
</header>




