<header>
    <mat-toolbar class="toolbar-above mat-elevation-z5" color="primary">
        <mat-toolbar-row>
            <div class="container-fluid">
             
            <div class="row justify-content-between">
                <div class="col-auto">
                    <span>GRIE</span>
                </div>
                <div class="col-auto">
                    <div class="row justify-content-around">
                        <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar sesion</button>
                        <button mat-button [routerLink]="['/conocimientoInstitucional']" routerLinkActive="router-link-active">Conocimiento institucional</button>
                    </div>
                </div>
            </div>
        </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
