<header>
  <mat-toolbar class="toolbar-above mat-elevation-z5" color="primary">
    <mat-toolbar-row>
      <div class="container-fluid">

        <div class="row justify-content-between">
          <div class="col-auto">
            <button class="font-weight-bold" mat-icon-button [routerLink]="['/home']"
              routerLinkActive="router-link-active">
              <span>GRIE</span>
            </button>
          </div>
          <div class="col-auto">
            <div class="row justify-content-around">
              <button *ngIf="!enSesion" mat-button [routerLink]="['/login']"
                routerLinkActive="router-link-active">Iniciar sesion</button>
              <button *ngIf="!enSesion" mat-button [routerLink]="['/register']"
                routerLinkActive="router-link-active">Registrarse</button>
              <button *ngIf="enSesion" mat-button [routerLink]="['/conocimientoInstitucional']"
                routerLinkActive="router-link-active">Presentación institucional</button>
              <button *ngIf="enSesion" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="cerrarSesion()" type="button">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
