<div class="container-fluid">
  <form [formGroup]="formIdentificacionInstitucional" autocomplete="off">
    <app-card-title title="IDENTIFICACIÓN">
    </app-card-title>
    <div class="row justify-content-around">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <mat-form-field class="w-100">
              <mat-label>Nombre de la institución</mat-label>
              <input formControlName="nombre" matInput placeholder="Escriba el nombre de la institución">
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <mat-form-field class="w-100">
              <mat-label>Codigo DANE</mat-label>
              <input formControlName="codDane" matInput placeholder="Escriba el código DANE">
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <mat-form-field class="w-100">
              <mat-label>Rector</mat-label>
              <input formControlName="rector" matInput placeholder="Escriba el nombre de la institución">
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-sm-5 col-md-4 mat-elevation-z2 div-list pt-3 pb-1 h-100">
            <div class="label-title-div">Sedes</div>
            <div class="container">
              <form [formGroup]="formSede" autocomplete="off">
                <div class="row justify-content-around">
                  <div class="col-8">
                    <mat-form-field class="w-100">
                      <mat-label>Nombre de la sede</mat-label>
                      <input formControlName="nombre" matInput placeholder="Escriba el nombre de la sede">
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <div class="row justify-content-center mt-2">
                      <button color="accent" mat-stroked-button (click)="agregarSede()" [disabled]="formSede.invalid"
                        type="button">Agregar</button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row justify-content-center container-chips">
                <mat-chip-list>
                  <mat-chip color="primary" *ngFor="let chip of listaSedes" selected>
                    {{chip.nombre}}
                    <button mat-icon-button (click)="eliminarSede(chip)" type="button">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-7 mat-elevation-z2 div-list pt-2 h-100">
            <div class="label-title-div">C.A.R.A.E</div>
            <div class="container">
              <div class="row justify-content-around mt-2">
                <!-- <div class="col-md-6 col-lg-4">
                    <mat-form-field class="w-100">
                        <mat-label>Rector</mat-label>
                        <input formControlName="rector" matInput placeholder="Escriba el nombre del rector">
                    </mat-form-field>
                </div> -->
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Coordinador</mat-label>
                    <input formControlName="coordinador" matInput placeholder="Escriba el nombre del coordinador">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder PRAE</mat-label>
                    <input formControlName="liderPRAE" matInput placeholder="Escriba el nombre del líder PRAE">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder del grupo de logística</mat-label>
                    <input formControlName="liderLogistica" matInput
                      placeholder="Escriba el nombre del líder de grupo de logística">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder del consejo académico</mat-label>
                    <input formControlName="liderConsejoAcademico" matInput
                      placeholder="Escriba el nombre del líder del consejo académico">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder de brigada</mat-label>
                    <input formControlName="liderBrigada" matInput placeholder="Escriba el nombre del lider de brigada">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder padres de familia</mat-label>
                    <input formControlName="liderPadres" matInput
                      placeholder="Escriba el nombre del lider de padres de familia">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <mat-label>Líder de estudiantes</mat-label>
                    <input formControlName="liderEstudiantes" matInput
                      placeholder="Escriba el nombre del lider de estudiantes">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-5">
                  <mat-form-field class="w-100">
                    <mat-label>Representante de organismos de socorro</mat-label>
                    <input formControlName="representanteOrganismosSocorro" matInput
                      placeholder="Representante de organismos de socorro">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-card-title title="CONOCIMIENTO DE LA ENTIDAD">
    </app-card-title>
    <div class="row justify-content-around ">
      <div class="col-md-10 p-0 mat-elevation-z3" style="min-height: 200px;">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Misión">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                  <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Misión</mat-label>
                      <textarea style="height: 150px;" matInput formControlName="mision"
                        placeholder="Escriba aquí la mision institucional"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Visión">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                  <div class="col-10">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Visión</mat-label>
                      <textarea style="height: 150px;" matInput formControlName="vision"
                        placeholder="Escriba aquí la visión institucional"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Objetivos institucionales">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                  <div class="col-10">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Objetivos institucionales</mat-label>
                      <textarea style="height: 150px;" matInput formControlName="objetivos"
                        placeholder="Escriba aquí los objetivos institucionales"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Valores institucionales">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                  <div class="col-10">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Valores institucionales</mat-label>
                      <textarea style="height: 150px;" matInput formControlName="valores"
                        placeholder="Escriba aquí los valores institucionales"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Procesos institucionales">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-2 mb-2">
                  <div class="col-10">
                    <img class="w-100 h-100" src="assets/img/procesos_institucionales.png" alt="">
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
      <button color="accent" mat-raised-button (click)="actualizarIdentificacionInstitucion()"
        type="button">Actualizar</button>
    </div>
  </form>
</div>
