<div class="container-fluid">
  <app-card-title
    info="Para consolidar la información relacionada a los daños y/o pérdidas generadas por un evento y facilitar el reporte de manera ordenada, se sugiere registrar los siguientes datos:">
  </app-card-title>
  <div class="row justify-content-around mr-0 ml-0">
    <div class="col-3">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerFechaEvento" placeholder="Fecha del evento"
          [(ngModel)]="reporte.fechaEvento" />
        <mat-datepicker-toggle matSuffix [for]="pickerFechaEvento"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaEvento></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Diligenciado por" [(ngModel)]="reporte.diligenciadoPor" />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <input type="number" matInput placeholder="Telefono" [(ngModel)]="reporte.telefono" />
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center mr-0 ml-0">
    <div class="col-6 ">
      <div class="row mr-0 ml-0">
        <div class="col-12 p-0 shadow-sm" style="border-radius: 5px;">
          <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
            <h6>Fenómeno al que se asocia esta emergencia</h6>
          </div>
          <div class="row justify-content-center mr-0 ml-0 mt-1">
            <div class="col-12 p-0">
              <mat-radio-group class="w-100" [(ngModel)]="reporte.fenomeno">
                <mat-radio-button class="mr-2 ml-2" *ngFor="let fenomeno of fenomenos" [value]="fenomeno">
                  {{ fenomeno }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row mr-0 ml-0">
        <div class="col-12 p-0 shadow-sm" style="border-radius: 5px;">
          <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
            <h6>Descripción general del proyecto</h6>
          </div>
          <div class="row justify-content-center mr-0 ml-0 mt-1">
            <div class="col-12">
              <mat-form-field class="w-100">
                <textarea rows="8" matInput placeholder="Descripción"
                  [(ngModel)]="reporte.descripcionProyecto"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mr-0 ml-0 mt-2">
    <div class="col-8">
      <div class="row mr-0 ml-0">
        <div class="col-12 p-0 shadow-sm" style="border-radius: 5px;">
          <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
            <h6>Tipo y numero de personas afectadas</h6>
          </div>
          <div class="row justify-content-start mr-0 ml-0 mt-1">
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Estudiantes" [(ngModel)]="reporte.estudiantesAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Docentes" [(ngModel)]="reporte.docentesAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Personal administrativo"
                  [(ngModel)]="reporte.personalAdministrativoAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Personal de servicios generales"
                  [(ngModel)]="reporte.personalServiciosGeneralesAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Directivos" [(ngModel)]="reporte.directivosAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Visitantes" [(ngModel)]="reporte.visitantesAfectados" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Otro" [(ngModel)]="reporte.otroAfectados" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mr-0 ml-0">
        <div class="col-12 p-0 shadow-sm" style="border-radius: 5px;">
          <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
            <h6>Tipo de servicios de respuesta solicitados</h6>
          </div>
          <div class="row justify-content-start mr-0 ml-0 mt-1">
            <ul style="list-style-type: none;">
              <li *ngFor="let servicio of reporte.tipoServicioSolicitado">
                <mat-checkbox [(ngModel)]="servicio.value" color="primary">
                  {{ servicio.nombre }}
                </mat-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mr-0 ml-0 mt-2">
    <div class="col-12 shadow-sm" style="border-radius: 5px;">
      <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
        <h6>Tipo y numero de edificaciones afectadas</h6>
      </div>
      <div class="row mr-0 ml-0">
        <div class="col-6">
          <div class="row justify-content-start mr-0 ml-0 mt-1">
            <div class="col-12">
              <div class="row justify-content-around mr-0 ml-0">
                <div class="col-5">
                  <mat-form-field class="w-100">
                    <mat-label>Tipo de salon</mat-label>
                    <mat-select [(ngModel)]="edificacion.tipo">
                      <mat-option *ngFor="let edificacion of edificaciones" [value]="edificacion">
                        {{ edificacion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-5">
                  <mat-form-field class="w-100">
                    <input type="number" matInput placeholder="Cantidad" [(ngModel)]="edificacion.cantidad" />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <div class="row justify-content-center mr-0 ml-0">
                    <button class="mt-2" mat-raised-button color="primary" (click)="agregarEdificacion()"
                      [disabled]="!edificacion.valid()">
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100">
                <textarea rows="4" matInput placeholder="Descripción de la afectación"
                  [(ngModel)]="edificacion.descripcion"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row mr-0 ml-0 justify-content-start">
            <nz-tag class="m-1" [nzColor]="'orange'" *ngFor="let edificacion of reporte.edificacionesAfectadas"
              [nzMode]="'closeable'" (nzOnClose)="eliminarEdificacion(edificacion)">
              {{ edificacion.tipo }} ({{edificacion.cantidad}})
            </nz-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mr-0 ml-0 mt-2">
    <div class="col-12 shadow-sm" style="border-radius: 5px;">
      <div class="row justify-content-start mr-0 ml-0 pt-2 pl-2">
        <h6>Descripción de necesidades</h6>
      </div>
      <div class="row mr-0 ml-0">
        <div class="col-12">
          <mat-form-field class="w-100">
            <textarea rows="4" matInput placeholder="Necesidades"
              [(ngModel)]="reporte.descripcionNecesidades"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mr-0 ml-0 mt-2 mb-2">
    <button class="mt-1" mat-raised-button color="accent" (click)="agregarReporte()" [disabled]="!this.reporte.valid()">
      Guardar
    </button>
  </div>
  <div class="row ml-0 mr-0 mb-2 mt-2">
    <div class="col-12 p-0">
      <table mat-table [dataSource]="dataSourcesReportes" class="w-100 mat-elevation-z3">
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaEvento | date:'longDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="fenomeno">
          <th mat-header-cell *matHeaderCellDef>Fenómeno</th>
          <td mat-cell *matCellDef="let element">{{ element.fenomeno }}</td>
        </ng-container>
        <ng-container matColumnDef="serviciosSolicitados">
          <th mat-header-cell *matHeaderCellDef>Servicios solicitados</th>
          <td mat-cell *matCellDef="let element">
            <div class="row justify-content-start mr-0 ml-0">
              <ng-container *ngFor="let servicio of element.tipoServicioSolicitado">
                <nz-tag *ngIf="servicio.value" class="mr-1 ml-1" [nzColor]="'blue'">
                  {{ servicio.nombre }}
                </nz-tag>
              </ng-container>
            </div>

          </td>
        </ng-container>
        <ng-container matColumnDef="edificacionesAfectadas">
          <th mat-header-cell *matHeaderCellDef>Edificaciones afectadas</th>
          <td mat-cell *matCellDef="let element">
            <div class="row justify-content-start mr-0 ml-0">
              <ng-container *ngFor="let edificacion of element.edificacionesAfectadas">
                <nz-tag class="mr-1 ml-1" [nzColor]="'orange'">
                  {{ edificacion.tipo }} ({{edificacion.cantidad}})
                </nz-tag>
              </ng-container>
            </div>

          </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcionProyecto }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsReportes"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsReportes"></tr>
      </table>
    </div>
  </div>
</div>
