<div class="container-fluid">
  <app-card-title title="IDENTIFICACIÓN DE LA SEDE"> </app-card-title>
  <form [formGroup]="formIdentificacionSede" autocomplete="off">
    <div class="row justify-content-around">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <mat-form-field class="w-100">
          <mat-label>Sede</mat-label>
          <mat-select [formControl]="nombreSede">
            <mat-option
              *ngFor="let sede of listaSedes"
              [value]="sede._id"
              (click)="seleccionarSede(sede)"
            >
              {{ sede.nombre }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <mat-form-field class="w-100">
          <mat-label>Código DANE</mat-label>
          <input
            formControlName="codDane"
            matInput
            placeholder="Escriba el código DANE"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <mat-form-field class="w-100">
          <mat-label>N° Coordinadores</mat-label>
          <input
            formControlName="coordinador"
            type="number"
            matInput
            placeholder="Escriba el nombre del coordinador"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <mat-form-field class="w-100">
          <mat-label>N° Estudiantes</mat-label>
          <input
            formControlName="cantEstudiantes"
            matInput
            placeholder="Escriba la cantidad de estudiantes"
            type="number"
            min="1"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <mat-form-field class="w-100">
          <mat-label>N° Docentes</mat-label>
          <input
            formControlName="cantDocentes"
            matInput
            placeholder="Escriba la cantidad de docentes"
            type="number"
            min="1"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 mat-elevation-z3 p-0">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Datos de nivel directivo">
            <ng-template matTabContent>
              <div class="container-fluid">
                <form [formGroup]="formDatosNivelDirectivo" autocomplete="off">
                  <div class="row justify-content-around mt-3">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <mat-form-field class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input
                          formControlName="nombre"
                          matInput
                          placeholder="Escriba el nombre de la persona"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <mat-form-field class="w-100">
                        <mat-label>Cargo</mat-label>
                        <input
                          formControlName="cargo"
                          matInput
                          placeholder="Escriba el cargo de la persona"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                      <mat-form-field class="w-100">
                        <mat-label>Correo</mat-label>
                        <input
                          formControlName="correo"
                          matInput
                          placeholder="Escriba el correo"
                          type="email"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                      <mat-form-field class="w-100">
                        <mat-label>Telefono</mat-label>
                        <input
                          formControlName="telefono"
                          matInput
                          placeholder="Escriba el telefono"
                          type="number"
                          minlength="6"
                          maxlength="11"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <div class="row justify-content-center mt-3">
                        <button
                          color="accent"
                          mat-stroked-button
                          (click)="agregarDirectivo()"
                          [disabled]="formDatosNivelDirectivo.invalid"
                          type="button"
                        >
                          Agregar
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row justify-content-center mb-2">
                  <div class="col-md-10 col-lg-8 p mat-elevation-z3">
                    <table
                      mat-table
                      [dataSource]="dataSourcesDirectivos"
                      class="w-100"
                    >
                      <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                      <!-- Position Column -->
                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.nombre }}
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="cargo">
                        <th mat-header-cell *matHeaderCellDef>Cargo</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.cargo }}
                        </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef>Correo</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.correo }}
                        </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef>Telefono</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.telefono }}
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsDirectivos"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="
                          let row;
                          columns: displayedColumnsDirectivos
                        "
                      ></tr>
                    </table>
                    <mat-paginator
                      [pageSizeOptions]="[3, 6, 9]"
                      showFirstLastButtons
                    ></mat-paginator>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab label="Datos de localización">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-around mt-3 mr-2 mb-2">
                  <div class="col-md-6">
                    <div class="row justify-content-around">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Municipio</mat-label>
                          <input
                            formControlName="municipio"
                            matInput
                            placeholder="Escriba el municipio donde se encuentra la sede"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Barrio</mat-label>
                          <input
                            formControlName="barrio"
                            matInput
                            placeholder="Escriba barrio donde esta ubicado el municipio"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Dirección</mat-label>
                          <input
                            formControlName="direccion"
                            matInput
                            placeholder="Escriba la dirección de la sede"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Telefono</mat-label>
                          <input
                            formControlName="telefono"
                            matInput
                            placeholder="Escriba el telefono"
                            type="number"
                            minlength="6"
                            maxlength="11"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Correo</mat-label>
                          <input
                            formControlName="correo"
                            matInput
                            placeholder="Escriba la dirección de correo de la sede"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 div-list">
                    <div class="label-title-div">Vecinos</div>
                    <div class="container-fluid p-2">
                      <div class="row justify-content-center">
                        <div class="col-4">
                          <mat-form-field class="w-100">
                            <mat-label>Norte</mat-label>
                            <input
                              formControlName="limiteNorte"
                              matInput
                              placeholder="Institución"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4">
                          <mat-form-field class="w-100">
                            <mat-label>Este</mat-label>
                            <input
                              formControlName="limiteEste"
                              matInput
                              placeholder="Institución"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4 text-center">
                          <img
                            style="height: 90px; width: 90px"
                            src="assets/img/puntos_cardinales.png"
                            alt=""
                          />
                        </div>
                        <div class="col-4">
                          <mat-form-field class="w-100">
                            <mat-label>Oeste</mat-label>
                            <input
                              formControlName="limiteOeste"
                              matInput
                              placeholder="Institución"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <mat-label>Sur</mat-label>
                            <input
                              formControlName="limiteSur"
                              matInput
                              placeholder="Institución"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab label="Descripción planta física">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                  <div class="col-sm-4 col-md-3">
                    <div class="row justify-content-around">
                      <div class="col-12">
                        <mat-form-field class="w-100">
                          <mat-label>Año de construcción</mat-label>
                          <input
                            formControlName="anioConstruccion"
                            matInput
                            placeholder="Escriba el año en que se construyó la sede"
                            type="number"
                            min="1900"
                            minlength="4"
                            maxlength="4"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field class="w-100">
                          <mat-label>Area construida (m2)</mat-label>
                          <input
                            formControlName="areaConstruida"
                            matInput
                            placeholder="Escriba el area total construida de de la sede"
                            type="number"
                            min="1"
                            minlength="6"
                            maxlength="11"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field class="w-100">
                          <mat-label>Area libre(m2)</mat-label>
                          <input
                            formControlName="areaLibre"
                            matInput
                            placeholder="Escriba el area total libre de la sede"
                            type="number"
                            min="1"
                            minlength="6"
                            maxlength="11"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7 col-md-8 div-list">
                    <div class="label-title-div">Archivos de soporte</div>
                    <div class="container-fluid">
                      <form [formGroup]="formArchivosSoporte">
                        <div class="row justify-content-center mt-3">
                          <div class="col-md-6">
                            <ng-container
                              *ngIf="
                                sedeSeleccionada.archivosSoporte
                                  ?.licenciaConstruccion;
                                else sinLicenciaConstruccion
                              "
                            >
                              <p class="m-0 font-weight-bold">
                                Licencia de construccion
                              </p>
                              <div class="row justify-content-start mr-0 ml-0">
                                <small class="mt-2 mr-1">
                                  {{
                                    sedeSeleccionada.archivosSoporte
                                      .licenciaConstruccion.nombreArchivo
                                  }}
                                </small>
                                <button
                                  mat-icon-button
                                  matTooltip="Descargar licencia de construccion"
                                  aria-label="Descargar Licencia de construccion"
                                  (click)="
                                    descargarPdf(
                                      sedeSeleccionada.archivosSoporte
                                        .licenciaConstruccion
                                    )
                                  "
                                >
                                  <mat-icon class="text-success"
                                    >get_app</mat-icon
                                  >
                                </button>
                                <button
                                  mat-icon-button
                                  matTooltip="Eliminar licencia de construccion"
                                  aria-label="Eliminar Licencia de construccion"
                                  (click)="
                                    sedeSeleccionada.archivosSoporte.licenciaConstruccion = null
                                  "
                                >
                                  <mat-icon class="text-danger"
                                    >delete</mat-icon
                                  >
                                </button>
                              </div>
                            </ng-container>
                            <ng-template #sinLicenciaConstruccion>
                              <mat-form-field class="w-100">
                                <ngx-mat-file-input
                                  (change)="
                                    agregarArchivo(
                                      $event.target.files,
                                      'licenciaConstruccion'
                                    )
                                  "
                                  placeholder="Licencia de construcción (Solo PDF)"
                                  [accept]="'.pdf'"
                                ></ngx-mat-file-input>
                                <mat-icon matSuffix>folder</mat-icon>
                              </mat-form-field>
                            </ng-template>
                          </div>
                          <div class="col-sm-6">
                            <mat-form-field class="w-100">
                              <ngx-mat-file-input
                                (change)="
                                  agregarArchivo(
                                    $event.target.files,
                                    'conceptoUsoConstruccion'
                                  )
                                "
                                placeholder="Concepto uso de construcción (Solo PDF)"
                                [accept]="'.pdf'"
                              >
                              </ngx-mat-file-input>
                              <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                            <mat-form-field class="w-100">
                              <ngx-mat-file-input
                                (change)="
                                  agregarArchivo(
                                    $event.target.files,
                                    'conceptoHigienicoSanitario'
                                  )
                                "
                                placeholder="Concepto higienico-sanitario (Solo PDF)"
                                [accept]="'.pdf'"
                              >
                              </ngx-mat-file-input>
                              <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                            <mat-form-field class="w-100">
                              <ngx-mat-file-input
                                (change)="
                                  agregarArchivo(
                                    $event.target.files,
                                    'permisoAmbiental'
                                  )
                                "
                                placeholder="Permiso ambiental (Solo PDF)"
                                [accept]="'.pdf'"
                              ></ngx-mat-file-input>
                              <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                            <mat-form-field class="w-100">
                              <ngx-mat-file-input
                                (change)="
                                  agregarArchivo(
                                    $event.target.files,
                                    'conceptoBomberos'
                                  )
                                "
                                placeholder="Concepto de bomberos (Solo PDF)"
                                [accept]="'.pdf'"
                              ></ngx-mat-file-input>
                              <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-2 mb-2 pl-2 pr-2">
                  <div class="col-12 div-list">
                    <div class="label-title-div">Edificios</div>
                    <div class="container-fluid p-2">
                      <div class="row justify-content-center">
                        <button
                          color="accent"
                          mat-raised-button
                          (click)="agregarEdificio()"
                          type="button"
                        >
                          Agregar
                        </button>
                      </div>
                      <div class="row justify-content-center mt-2">
                        <div class="col-11 mat-elevation-z3">
                          <table
                            mat-table
                            [dataSource]="dataSourcesEdificios"
                            class="w-100"
                          >
                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="numero">
                              <th mat-header-cell *matHeaderCellDef>
                                Edificio #
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.numero }}
                              </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="pisos">
                              <th mat-header-cell *matHeaderCellDef>Pisos</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.pisos }}
                              </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="tiposSalon">
                              <th mat-header-cell *matHeaderCellDef>
                                Tipos de salón
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <mat-chip-list>
                                  <mat-chip
                                    class="bg-info"
                                    *ngFor="let chip of element.salones"
                                    selected
                                  >
                                    {{ chip.cantidad }} salones de
                                    {{ chip.tipoSalon }}
                                  </mat-chip>
                                </mat-chip-list>
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumnsEdificios"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="
                                let row;
                                columns: displayedColumnsEdificios
                              "
                            ></tr>
                          </table>
                          <mat-paginator
                            #paginatorEdificios
                            [pageSizeOptions]="[4, 8, 12]"
                            showFirstLastButtons
                          >
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab label="Jornada de la sede ">
            <ng-template matTabContent>
              <div class="container-fluid">
                <div class="row justify-content-center mt-3 mb-3">
                  <div class="col-sm-10 col-md-8 col-lg-6 mat-elevation-z3">
                    <div class="row justify-content-center mt-2 mb-2">
                      <h6 class="font-weight-bold">Jornadas</h6>
                    </div>
                    <form [formGroup]="formJornadas">
                      <div class="row justify-content-center">
                        <mat-checkbox
                          class="p-1 m-2"
                          formControlName="unica"
                          [checked]="formJornadas.controls.unica.value"
                          (change)="
                            actualizarJornada(
                              $event,
                              formJornadas.controls.unica
                            )
                          "
                        >
                          Unica
                        </mat-checkbox>
                        <mat-checkbox
                          class="p-1 m-2"
                          formControlName="maniana"
                          [checked]="formJornadas.controls.maniana.value"
                          (change)="
                            actualizarJornada(
                              $event,
                              formJornadas.controls.maniana
                            )
                          "
                        >
                          Mañana</mat-checkbox
                        >
                        <mat-checkbox
                          class="p-1 m-2"
                          formControlName="tarde"
                          [checked]="formJornadas.controls.tarde.value"
                          (change)="
                            actualizarJornada(
                              $event,
                              formJornadas.controls.tarde
                            )
                          "
                        >
                          Tarde
                        </mat-checkbox>
                        <mat-checkbox
                          class="p-1 m-2"
                          formControlName="noche"
                          [checked]="formJornadas.controls.noche.value"
                          (change)="
                            actualizarJornada(
                              $event,
                              formJornadas.controls.noche
                            )
                          "
                        >
                          Noche
                        </mat-checkbox>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
      <button
        color="accent"
        class="mr-2 ml-2"
        mat-raised-button
        (click)="actualizarIdentificacionSede()"
        type="button"
      >
        Actualizar
      </button>
      <button
        color="warn"
        class="mr-2 ml-2"
        mat-raised-button
        (click)="gestionRiesgoById()"
        type="button"
      >
        Gestión del riesgo
      </button>
    </div>
  </form>
</div>
