<div class="row justify-content-around container-info-vista">
    <div class="col-lg-6 container-sub-info" style="border-left: none;">
        <small>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero soluta omnis officiis eos quibusdam? Nam quae dolore doloribus ipsa aliquam numquam quasi, sequi natus cumque possimus atque blanditiis voluptatum at.
        </small>
    </div>
    <div class="col-lg-6 container-sub-info" style="border-right: none;">
        <small>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam velit veniam illo cupiditate. Alias, explicabo? Vero, nostrum harum soluta perspiciatis iure expedita non totam ut asperiores eum, eligendi accusantium quidem!
        </small>
    </div>
</div>
