<div class="container-fluid">
  <app-card-title title="POLITICA DE ADMINISTRACIÓN DEL RIESGO"
    info="Es la declaración de la dirección y las intenciones generales de una organización con respecto a la gestión del riesgo (NTC ISO31000 Numeral 2.4).">
  </app-card-title>
  <form [formGroup]="formularioLineamientosPoliticaRiesgo" autocomplete="off">
    <div class="row justify-content-lg-around  mt-3">
      <div class="col-md-6 col-lg-4">
        <mat-card class=" h-100">
          <mat-card-header>
            <mat-card-title>Terminos y definiciones</mat-card-title>
            <mat-card-subtitle>Aqui va el subtitulo</mat-card-subtitle>
          </mat-card-header>
          <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
              <div class="col-12 h-100">
                <mat-form-field class="w-100 h-100">
                  <textarea formControlName="terminosDefiniciones" matInput
                    placeholder="Aqui los terminos y definiciones"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <mat-card>
          <mat-card-header class=" h-100">
            <mat-card-title>Objetivo</mat-card-title>
            <mat-card-subtitle>
              Se debe establecer el objetivo de la política de administración
              del riesgo, con el que se busca gestionar los riesgos de toda
              naturaleza a los que se enfrenta la I.E, a un nivel aceptable
            </mat-card-subtitle>
          </mat-card-header>
          <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
              <div class="col-12 h-100">
                <mat-form-field class="w-100 h-100">
                  <textarea formControlName="objetivo" matInput placeholder="Aqui el objetivo"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <mat-card class=" h-100">
          <mat-card-header>
            <mat-card-title>Alcance</mat-card-title>
            <mat-card-subtitle>
              Se debe establecer el ámbito de aplicación de los lineamientos, el
              cual debe abarcar todos los procesos de la institución, de igual
              forma se sugiere incluir a todas las sedes, con el fin de
              garantizar un adecuado conocimiento y control de los riesgos en
              toda la I.E.
            </mat-card-subtitle>
          </mat-card-header>
          <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
              <div class="col-12 h-100">
                <mat-form-field class="w-100 h-100">
                  <textarea formControlName="alcance" matInput placeholder="Aqui los alcances"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
  <form [formGroup]="formularioNivelesAceptacionRiesgo" autocomplete="off">
    <div class="row justify-content-center mt-2">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Niveles de aceptacion de riesgo</mat-card-title>
            <mat-card-subtitle>
              Teniendo en cuenta que hay 4 niveles de riesgo: bajo, moderado,
              alto y extremo, la I.E debe determinar el nivel de aceptación de
              cada uno, indicando cuáles son aceptables y cuáles inaceptables.
              Los riesgos que presenten nivel de aceptación inaceptable, tendrán
              las siguientes opciones de tratamiento: evitarlo, compartirlo o
              reducirlo
            </mat-card-subtitle>
          </mat-card-header>
          <div class="container-fluid">
            <div class="row justify-content-around">
              <mat-form-field>
                <mat-label>Riesgo bajo</mat-label>
                <mat-select formControlName="riesgoBajo">
                  <mat-option value="aceptable">
                    Aceptable
                  </mat-option>
                  <mat-option value="inaceptable">
                    Inaceptable
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Riesgo moderado</mat-label>
                <mat-select formControlName="riesgoModerado">
                  <mat-option value="aceptable">
                    Aceptable
                  </mat-option>
                  <mat-option value="inaceptable">
                    Inaceptable
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Riesgo alto</mat-label>
                <mat-select formControlName="riesgoAlto">
                  <mat-option value="aceptable">
                    Aceptable
                  </mat-option>
                  <mat-option value="inaceptable">
                    Inaceptable
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Riesgo extremo</mat-label>
                <mat-select formControlName="riesgoExtremo">
                  <mat-option value="aceptable">
                    Aceptable
                  </mat-option>
                  <mat-option value="inaceptable">
                    Inaceptable
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
  <form [formGroup]="formularioNivelesCalificarProbabilidad" autocomplete="off">
    <div class="row justify-content-around mt-2">
      <div class="col-12">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Niveles para calificar la probabilidad
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="nivelesProbabilidad" class="mat-elevation-z8">
            <ng-container matColumnDef="nivel">
              <th class="text-left" mat-header-cell *matHeaderCellDef>Nivel</th>
              <td class="text-center font-weight-bold" mat-cell *matCellDef="let element">{{ element.nivel }}</td>
            </ng-container>

            <ng-container matColumnDef="descriptor">
              <th mat-header-cell *matHeaderCellDef>Descriptor</th>
              <td mat-cell *matCellDef="let element">
                {{ element.descriptor }}
              </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripcion</th>
              <td mat-cell *matCellDef="let element">
                {{ element.descripcion }}
              </td>
            </ng-container>

            <ng-container matColumnDef="frecuencia">
              <th mat-header-cell *matHeaderCellDef>Frecuencia</th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
                <mat-form-field>
                  <mat-label>Cantidad</mat-label>
                  <mat-select formControlName="cantidad">
                    <mat-option value=" mas de">
                      Mas de
                    </mat-option>
                    <mat-option value="al menos">
                      Al menos
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input formControlName="numeroVeces" matInput type="number" placeholder="Numero de veces" min="1" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Ocurrencia en años</mat-label>
                  <mat-select formControlName="ocurrencia">
                    <mat-option value="vez al año">
                      vez al año.
                    </mat-option>
                    <mat-option value="vez en los ultimos dos años">
                      vez en los ultimos dos años.
                    </mat-option>
                    <mat-option value="vez en los ultimos cinco años">
                      vez en los ultimos cinco años.
                    </mat-option>
                    <mat-option value="No se ha presentado en los ultimos cinco años">
                      No se ha presentado en los ultimos cinco años
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsProbabilidad"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsProbabilidad"></tr>
          </table>
        </mat-expansion-panel>
      </div>
    </div>
  </form>

  <app-card-title title="NIVELES PARA CALIFICAR EL IMPACTO"
    info="Se debe tener en cuenta que el riesgo se puede calificar según su nivel de impacto, clasificándose en alguno de los siguientes: insignificante, menor, moderado, mayor y catastrófico.">
  </app-card-title>

  <div class="row justify-content-center mt-2">
    <mat-form-field appearance="outline">
      <mat-label>Tipo de riesgo</mat-label>
      <mat-select (selectionChange)="viewTablaRiesgo($event.value)">
        <mat-option *ngFor="let riesgo of tiposRiesgos" value="{{ riesgo }}">
          {{ riesgo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row justify-content-center mb-3" *ngIf="isNone">
    <h4>Seleccione un tipo de riesgo ...</h4>
  </div>

  <form [formGroup]="formularioNivelesCalificarImpactoFisico">
    <div class="row justify-content-center mb-3" *ngIf="isFisico">
      <div class="col-lg-10">
        <table mat-table [dataSource]="riesgosFisicos" class="mat-elevation-z8">
          <ng-container matColumnDef="impacto">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
              Impacto
            </th>
            <td class="text-center font-weight-bold" mat-cell *matCellDef="let element">
              {{ element.impacto }}
            </td>
          </ng-container>

          <ng-container matColumnDef="descriptor">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
              Descriptor
            </th>
            <td mat-cell *matCellDef="let element">{{ element.descriptor }}</td>
          </ng-container>

          <ng-container matColumnDef="porcentajeAfectacion">
            <th class="w-25 text-center" mat-header-cell *matHeaderCellDef>
              Porcentaje de afectación
            </th>
            <td class="text-center" mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
              <ng5-slider [value]="minValue" [highValue]="maxValue" formControlName="porcentajeAfectacion"
                [options]="optionsSlider"></ng5-slider>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsFisico"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFisico"></tr>
        </table>
      </div>
    </div>
  </form>
  <form [formGroup]="formularioNivelesCalificarImpactoGestion">
    <div class="row justify-content-center mb-3" *ngIf="isGestion">
      <div class="col-lg-10">
        <table mat-table [dataSource]="riesgosGestion" class="mat-elevation-z8">
          <ng-container matColumnDef="impacto">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
              Impacto
            </th>
            <td class="text-center font-weight-bold" mat-cell *matCellDef="let element">
              {{ element.impacto }}
            </td>
          </ng-container>

          <ng-container matColumnDef="descriptor">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
              Descriptor
            </th>
            <td mat-cell *matCellDef="let element">{{ element.descriptor }}</td>
          </ng-container>

          <ng-container matColumnDef="tiempoInterrupcion">
            <th class="w-25 text-center" mat-header-cell *matHeaderCellDef>
              Tiempo de interrupcion
            </th>
            <td class="text-center" mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
              Por mas de
              <mat-form-field>
                <input matInput type="number" placeholder="Numero de veces" min="1" formControlName="numeroVeces" />
              </mat-form-field>
              horas
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsGestion"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsGestion"></tr>
        </table>
      </div>
    </div>
  </form>
  <!-- <form [formGroup]="formularioNivelesCalificarImpactoCorrupcion">
  <div class="row justify-content-center  mb-3" *ngIf="isCorrupcion">
    <div class="col-md-11 col-lg-9 col-xl-8 p-0 mat-elevation-z8" id="tableCorrupcion">
      <table mat-table [dataSource]="riesgosCorrupcion">

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="pregunta">
          <th mat-header-cell *matHeaderCellDef> Pregunta: Si el riesgo de corrupción se materializa podría… </th>
          <td mat-cell *matCellDef="let element"> {{element.pregunta}} </td>
        </ng-container>

        <ng-container matColumnDef="respuesta" class="w-25">
          <th mat-header-cell *matHeaderCellDef> Respuesta </th>
          <td mat-cell *matCellDef="let element" [formGroupName]="element.formGroup.name">
              <mat-form-field>
                <mat-select formControlName="respuesta" (selectionChange)="calcularImpactoCorrupcion()">
                  <mat-option value="si">
                    Si
                  </mat-option>
                  <mat-option value="no">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCorrupcion; sticky: true "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCorrupcion;"></tr>
      </table>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 align-self-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Nivel de impacto</mat-card-title>
          <mat-card-subtitle>
            <small>
              Responder afirmativamente de UNA a CINCO preguntas genera un impacto moderado.
              Responder afirmativamente de SEIS a ONCE preguntas genera un impacto mayor.
              Responder afirmativamente de DOCE a DIECINUEVE preguntas genera un impacto catastrófico.
            </small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="text-center">
          <h3 class="font-weight-bold" *ngIf="preguntasTerminadasCorrupccion">{{nivelImpactoCorrupcion}}</h3>
          <small *ngIf="!preguntasTerminadasCorrupccion">Esperando que todas las preguntas sean contestadas...</small>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form> -->
  <div class="row justify-content-center mb-3" *ngIf="isSeguridadDigital">
    <div class="col-lg-8">
      <table mat-table [dataSource]="riesgosSeguridadDigital" class="mat-elevation-z8">
        <ng-container matColumnDef="impacto">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Impacto</th>
          <td class="text-center  font-weight-bold" mat-cell *matCellDef="let element">
            {{ element.impacto }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descriptor">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            Descriptor
          </th>
          <td mat-cell *matCellDef="let element">{{ element.descriptor }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguridadDigital"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguridadDigital"></tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <button color="accent" mat-raised-button (click)="guardarLinemientosPolitica()">
      Guardar
    </button>
  </div>
</div>
