html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: none;
}

td {
  padding-top: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

th {
  padding-right: 10px !important;
}

/*SCROLL MODIFICADO*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}


/* COLORES PARA COMPONENTES */
.color-success {
  background: rgb(52, 158, 49) !important;
  color: white !important;
}

.color-danger {
  background: rgb(199, 42, 42) !important;
  color: white !important;
}

.color-warn {
  background: rgb(197, 158, 31) !important;
  color: white !important;
}

.color-info {
  background: rgb(36, 147, 190) !important;
  color: white !important;
}

/* COLORES PARA ICONOS */
.icon-color-success {
  color: rgb(52, 158, 49) !important;
}

.icon-color-danger {
  color: rgb(199, 42, 42) !important;
}

.icon-color-warn {
  color: rgb(197, 158, 31) !important;
}

.icon-color-info {
  color: rgb(36, 147, 190) !important;
}

.snack-bar-warn {
  color: #ffffff;
  background-color: #ffa600;
}

.snack-bar-danger {
  color: #ffffff;
  background-color: #ff3737;
}

.snack-bar-info {
  color: #ffffff;
  background-color: #3899f3;
}

.snack-bar-success {
  color: #ffffff;
  background-color: #40e471;
}

.mat-simple-snackbar-action {
  color: #ffffff !important;
}

/*TOPIC CONTAINER*/
.label-title-div {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: -13px;
  color: rgb(78, 78, 78);
  padding-right: 3px;
  padding-left: 3px;
  width: auto;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  background-color: white;
  font-size: bold;
}

.div-list {
  border: 2px solid rgb(78, 78, 78);
  border-radius: 5px;
  border-color: rgb(78, 78, 78);
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

.container-chips {
  height: 120px;
  max-height: 120px;
  overflow-y: auto;
}

.input-disabled {
  pointer-events: none;

}

.cursor-pointer {
  cursor: pointer !important;
}
