<div class="container-fluid" >
    
    <div class="row justify-content-center mt-2">
      <div class="col-11">
        <mat-tab-group mat-align-tabs="center"> 
          <mat-tab label="Contexto externo">
            <ng-template matTabContent>

              <app-contexto-externo [formularioContextoExterno]="formularioCaracterizacionContexto.controls.contextoExterno"></app-contexto-externo>

            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto interno">
            <ng-template matTabContent>

              <app-contexto-interno [formularioContextoInterno]="formularioCaracterizacionContexto.controls.contextoInterno"></app-contexto-interno>
              
            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto del proceso">
            <ng-template matTabContent>

              <app-contexto-proceso [formularioContextoProceso]="formularioCaracterizacionContexto.controls.contextoProceso"></app-contexto-proceso>

            </ng-template>
          </mat-tab>
          <mat-tab label="Identificacion de activos de seguridad digital">
            <ng-template matTabContent>
              <app-identificacion-activos-seguridad [formularioIdentificacionActivos]="formularioCaracterizacionContexto.controls.identificacionActivos"></app-identificacion-activos-seguridad>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mb-3">
      <button color="accent" mat-raised-button (click)="guardarCaracterizacionContexto()">Guardar</button>
    </div>
</div>
