<div class="container-fluid" >
    <app-info-vista
      [info]="'Aquí se definen los parámetros internos y externos, de proceso e identificación de activos que se han de tomar en cuenta para la administración del riesgo'">
    </app-info-vista>
    <div class="row justify-content-center mt-2">
      <div class="col-11">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Contexto externo">
            <ng-template matTabContent>

              <app-contexto-externo [formularioContextoExterno]="formularioContextoExterno"></app-contexto-externo>

            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto interno">
            <ng-template matTabContent>

              <app-contexto-interno [formularioContextoInterno]="formularioContextoInterno"></app-contexto-interno>
              
            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto del proceso">
            <ng-template matTabContent>
            </ng-template>
          </mat-tab>
          <mat-tab label="Identificacion de activos de seguridad digital">
            <ng-template matTabContent>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mb-3">
      <button color="accent" mat-raised-button (click)="guardarCaracterizacionContexto()">Guardar</button>
    </div>
</div>
