<div class="container-fluid h-100" >
  <app-card-title title="CARACTERIZACIÓN DEL CONTEXTO" 
  info="Aquí se definen los parámetros internos y externos, de proceso e identificación de activos que se han de tomar en cuenta para la administración del riesgo">
  </app-card-title>    
  <div class="row justify-content-around mb-1 pl-2" style="height: 99%;">
      <div class="col-lg-11 mat-elevation-z4 h-100 p-0 pb-2">
        <mat-tab-group mat-align-tabs="center" class="h-100"> 
          <mat-tab label="Contexto externo"  class="h-100">
            <ng-template matTabContent >

              <app-contexto-externo [formularioContextoExterno]="formularioCaracterizacionContexto.controls.contextoExterno"></app-contexto-externo>

            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto interno" class="h-100">
            <ng-template matTabContent>
              
              <app-contexto-interno [formularioContextoInterno]="formularioCaracterizacionContexto.controls.contextoInterno"></app-contexto-interno>
              
            </ng-template>
          </mat-tab>
          <mat-tab label="Contexto del proceso" class="h-100">
            <ng-template matTabContent>

              <app-contexto-proceso [formularioContextoProceso]="formularioCaracterizacionContexto.controls.contextoProceso"></app-contexto-proceso>

            </ng-template>
          </mat-tab>
          <mat-tab label="Identificacion de activos de seguridad digital" class="h-100">
            <ng-template matTabContent>
              <app-identificacion-activos-seguridad [formularioIdentificacionActivos]="formularioCaracterizacionContexto.controls.identificacionActivos"></app-identificacion-activos-seguridad>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-lg-1">
        <div class="row justify-content-center mt-2 mb-3">
          <button color="accent" mat-raised-button (click)="guardarCaracterizacionContexto()">Guardar</button>
        </div>
      </div>
    </div>
</div>
