tr{
    height: 70px;
}

td{
    width: 200px;
    height: 80px;
    max-height: 100px;
    overflow: auto;
    padding: 0px;
}

ul{
    color: white;
    padding-inline-start: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

li{
    text-align: start;
}

.mini-circle{
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
  }